% my $mfe_plus_factor;
% my $mfe_minus_factor;
% my $mfe_plus = $mfe + 0.1;
% my $mfe_minus = $mfe - 0.1;
% my $z_plus = $z + 0.1;
% my $z_minus = $z - 0.1;
% my ($stmt, $stuff);
% my $boot_table = "boot_$species";
% if (defined($slipsites) and $pknot) {
%   $stmt = qq/SELECT distinct mfe.accession, mfe.start, mfe.id FROM mfe, $boot_table WHERE mfe.species = '$species' AND mfe.seqlength = $seqlength AND round(mfe.mfe,2) = round($mfe,2) AND round($boot_table.zscore,1) = round($z,1) AND mfe.knotp = '1' AND mfe.id = $boot_table.mfe_id AND mfe.slipsite = '$slipsites' ORDER BY mfe.start,mfe.accession/;
% } elsif (defined($slipsites) and !$pknot) {
%   $stmt = qq/SELECT distinct mfe.accession, mfe.start, mfe.id FROM mfe, $boot_table WHERE mfe.species = '$species' AND mfe.seqlength = $seqlength AND ROUND(mfe.mfe,2) = ROUND($mfe,2)  AND ROUND($boot_table.zscore,1) = ROUND($z,1) AND mfe.id = $boot_table.mfe_id AND mfe.slipsite = '$slipsites' ORDER BY mfe.start,mfe.accession/;
% } elsif (!defined($slipsites) and $pknot) {
%   $stmt = qq/SELECT distinct mfe.accession, mfe.start, mfe.id FROM mfe, $boot_table WHERE mfe.species = '$species' AND mfe.seqlength = $seqlength AND ROUND(mfe.mfe,2) = ROUND($mfe,2) AND ROUND($boot_table.zscore,1) = ROUND($z,1)  AND mfe.knotp = '1' AND mfe.id = $boot_table.mfe_id ORDER BY mfe.start,mfe.accession/;
% } else {  ## used to be elsif (!defined($slipsites) and !$pknot) {
%   $stmt = qq/SELECT distinct mfe.accession, mfe.start, mfe.id FROM mfe, $boot_table WHERE mfe.species = '$species' AND mfe.seqlength = $seqlength AND ROUND(mfe.mfe,2) = ROUND($mfe,2) AND ROUND($boot_table.zscore,1) = ROUND($z,1)  AND mfe.id = $boot_table.mfe_id ORDER BY mfe.start,mfe.accession/;
% }
% $stuff = $db->MySelect(statement => $stmt,);
% if ($#$stuff == -1) {
% }
% if ($#$stuff == 0) {
<& detail.html, id => $stuff->[0]->[2], accession => $stuff->[0]->[0], slipstart => $stuff->[0]->[1] &>
%    } else {
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr bgcolor="#000000">
    <td width="35%" nowrap>
      <div align="left"><strong><font color="#FFFFFF">Gene Name</font></strong></div>
    </td>
    <td nowrap width="10%">
      <div align="left"><strong><font color="#FFFFFF">Accession</font></strong></div>
      </td>
    <td nowrap width="10%">
      <div align="center"><strong><font color="#FFFFFF">Start</font></strong></div>
    </td>
    <td nowrap width="35%">
      <div align="left"><strong><font color="#FFFFFF">Comments</font></strong></div>
    </td>
  </tr>
%    my ($short_accession, $genbank_accession);
%    foreach my $datum (@{$stuff}) {
%      my $accession = $datum->[0];
%      my $start = $datum->[1];
%      my $gene_stmt = qq(SELECT genename,comment,omim_id FROM genome WHERE accession = ?);
%      my $g = $db->MySelect(statement => $gene_stmt, vars => [$accession], type => 'row');
%      my $genename = $g->[0];
%      my $comments = $g->[1];
%      my $omim_id = $g->[2];
%      if ($accession =~ /^SGDID/) {
%        $short_accession = $accession;
%        $short_accession =~ s/^SGDID\://g;
%      } elsif ($accession =~ /^BC/) {
%        $short_accession = undef;
%        $genbank_accession = $accession;
%      }
  <tr>
    <td valign="top" width="40%">
      <div align="left"><% $genename %>
% if (defined($short_accession)) {
  <br>
  <a href="http://db.yeastgenome.org/cgi-bin/locus.pl?locus=<% $short_accession %>" rel="external" target="_blank">SGD Link</a>
%  } elsif (defined($genbank_accession)) {
  <br>
  <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=nuccore&cmd=&term=<% $genbank_accession %>&go=Go" rel="external" target="_blank">GenBank Link</a>
% }
  </div>
    </td>
    <td valign="top" width="10%">
      <div align="left">
        <a href="/search.html?short=1&accession=<% $accession %>"><strong><% $accession %></strong></a>
      </div>
    </td>
    <td valign="top" width="10%">
      <div align="center">
        <a href="/search.html?short=1&accession=<% $accession %>&slipstart=<% $start %>"><strong><% $start %></strong></a>
      </div>
    </td>
    <td valign="top" width="40%">
      <div align="left"><% $comments %></div>
    </td>
  </tr>
  <tr><td> </td></tr>
%    }
%  }

<%args>
  $pknot => 0
  $seqlength => 100
  $species => 'saccharomyces_cerevisiae'
  $mfe => -10
  $z => -2
  $slipsites => undef
</%args>