% if ($species and $seqlength and $slipsites) {
%  if (!defined($overlayquery)) {

<center>
<form method="post" action="overlay.html?species=<% $species %>&seqlength=<% $seqlength %>&slipsites=<% $slipsites %>" enctype="application/x-www-form-urlencoded">
<input type="text" name="overlayquery"  size="20" /><input type="submit" name="search overlay" value="Overlay" /></form>
</center>

%  }
<center>
%# <form name="distribution" id="distribution" action="distribution.html?species=<% $species %>&seqlength=<% $seqlength %>&slipsites=<% $slipsites %>" enctype="multipart/form-data" method="POST">
 <form name="distribution" id="distribution" action="distribution.html?species=<% $species %>&seqlength=<% $seqlength %>" enctype="multipart/form-data" method="POST">
% my $long_species = HTMLMisc::Make_Species($species);
<p>This is the <i><% $long_species %></i> distribution for <% $slipsites %> slipsites using <% $mfe_methods %>.

<script type='text/javascript'>
function selection_option() {
  document.forms["distribution"].elements["mfe_methods"].options["<% $mfe_methods %>"].selected = true;
  document.forms["distribution"].elements["slipsites"].options["<% $slipsites %>"].selected = true;
}
window.onload = selection_option;
</script>

  Change the MFE method:
  <select name="mfe_methods" id="mfe_methods" onchange="this.form.submit(); return true;">
   <option name="all" value="all">all</option>
   <option name="pknots" value="pknots">pknots</option>
   <option name="nupack" value="nupack">nupack</option>
   <option name="hotknots" value="hotknots">hotknots</option>
   <option name="nupack+hotknots" value="nupack+hotknots">nupack and hotknots</option>
  </select>&nbsp;and slipsites:
  <select name="slipsites" id="slipsites" onchange="this.form.submit(); return true;">
   <option name="all" value="all">all</option>
   <option name="AAAUUUA" value="AAAUUUA">AAAUUUA</option>
   <option name="UUUAAAU" value="UUUAAAU">UUUAAAU</option>
   <option name="AAAAAAA" value="AAAAAAA">AAAAAAA</option>
   <option name="UUUAAAA" value="UUUAAAA">UUUAAAA</option>
   <option name="UUUUUUA" value="UUUUUUA">UUUUUUA</option>
   <option name="AAAUUUU" value="AAAUUUU">AAAUUUU</option>
   <option name="UUUUUUU" value="UUUUUUU">UUUUUUU</option>
   <option name="UUUAAAC" value="UUUAAAC">UUUAAAC</option>
   <option name="AAAAAAU" value="AAAAAAU">AAAAAAU</option>
   <option name="AAAUUUC" value="AAAUUUC">AAAUUUC</option>
   <option name="AAAAAAC" value="AAAAAAC">AAAAAAC</option>
   <option name="GGGUUUA" value="GGGUUUA">GGGUUUA</option>
   <option name="UUUUUUC" value="UUUUUUC">UUUUUUC</option>
   <option name="GGGAAAA" value="GGGAAAA">GGGAAAA</option>
   <option name="CCCUUUA" value="CCCUUUA">CCCUUUA</option>
   <option name="CCCAAAC" value="CCCAAAC">CCCAAAC</option>
   <option name="CCCAAAA" value="CCCAAAA">CCCAAAA</option>
   <option name="GGGAAAU" value="GGGAAAU">GGGAAAU</option>
   <option name="GGGUUUU" value="GGGUUUU">GGGUUUU</option>
   <option name="GGGAAAC" value="GGGAAAC">GGGAAAC</option>
   <option name="CCCUUUC" value="CCCUUUC">CCCUUUC</option>
   <option name="CCCUUUU" value="CCCUUUU">CCCUUUU</option>
   <option name="GGGAAAG" value="GGGAAAG">GGGAAAG</option>
   <option name="GGGUUUC" value="GGGUUUC">GGGUUUC</option>
  </select>
 </form>
<br>

<table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
%#      <center><img src="images/cloud/<% $species %>/cloud-<% $slipsites %>-<% $mfe_methods %>-<% $seqlength %>-mfe_dist.png"></center>
    <div id="mfe" style="width:800px;height:200px;"></div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
% my $filename = qq"$ENV{PRFDB_HOME}/images/cloud/${species}/cloud-${slipsites}-${mfe_methods}-${seqlength}.png";
% if ($cloud_filters =~ /pseudo/) {
%  $filename = qq"$ENV{PRFDB_HOME}/images/cloud/${species}/cloud-pknot-${slipsites}-${mfe_methods}-${seqlength}.png";
%   if (-f $filename) {
<img src="images/cloud/<% $species %>/cloud-pknot-<% $slipsites %>-<% $mfe_methods %>-<% $seqlength %>.png" usemap="#map">
%   } ## End if -f $filename
% } else {
%  $filename = qq"$ENV{PRFDB_HOME}/images/cloud/${species}/cloud-${slipsites}-${mfe_methods}-${seqlength}.png";
%   if (-f $filename) {
<img src="images/cloud/<% $species %>/cloud-<% $slipsites %>-<% $mfe_methods %>-<% $seqlength %>.png" usemap="#map">
%   }
% }
% if (-f $filename) {
    </td>
    <td>
%#      <img src="images/cloud/<% $species %>/cloud-<% $slipsites %>-<% $mfe_methods %>-<% $seqlength %>-z_dist.png">
    <div id="z" style="width:200px;height:800px;"></div>
    </td>
  </tr>
</table>

</center>
<br>
The x axis displays the range of putative <a href="help/detail.html#mfe">
minimum free energy</a> values computed for all <i></i>
 sequences of length 100.<br>

The y axis displays the range of <a href="help/detail.html#z">
z scores</a> for these same sequences.<br>
Each dot thus represents a single (mfe, z score) in relation to all
the others for <i></i>.  
 The black lines delineate the mean mfe
and z score for this population.
This graph shows all points regardless of slipsite.

  Grey dots represent sequence
windows which have less putative secondary structure than the mean
<b>and</b> are less structured than their randomized counterparts, as
such these are unlikely to be of interest.  Green dots have a minimum
free energy less than the mean, but are less structured than their
randomized counterparts while the opposite is true of blue dots.  Red
dots are more significant than the mean in both respects.  Grey lines
delineate standard deviations less than mean.  Darker dots represent
coordinates wihch share more than 1 sequence window.
</p>
<a href="graphs.html?species=<% $species %>">Click here for some more graphs</a>

% open(MAP, "<$filename.map");
% while (my $line = <MAP>) { print  $line; }
% close(MAP);


% my $mfe_json_filename = qq"/images/cloud/$species/cloud-${slipsites}-${mfe_methods}-${seqlength}-mfe_dist.json";
% my $z_json_filename = qq"/images/cloud/$species/cloud-${slipsites}-${mfe_methods}-${seqlength}-z_dist.json";


<script type="text/javascript" id="mfe">
$(function() {
  var options = {
    colors: [ "black", "darkblue" ],
    series: {
      stack: 1,
      lines: { show:false },
      bars: { fill:1, lineWidth:0, show:true, barWidth:0.4 } },
    yaxis: {
      axisLabel: 'Predictions',
      axisLabelUseCanvas: true },
    xaxis: {
      axisLabel: 'Minimum Free Energy',
      axisLabelUseCanvas: true }
  };
    
  $.getJSON('<% $mfe_json_filename %>', function(series) {
    var dat =  series;
    var mfe_plot = $.plot($("#mfe"), dat, options);
    var canvas_mfe = mfe_plot.getCanvas();
    var canvasData = canvas_mfe.toDataURL("image/png");
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "/upload_flot.html?filename=<% $mfe_json_filename %>", false);
    ajax.setRequestHeader('Content-Type', 'application/upload');
    ajax.send(canvasData);
  });
});
</script>
<script type="text/javascript" id="z">
$(function() {
  var options = {
    colors: [ "darkred", "darkgreen", "black", "darkblue" ],
    series: {
      stack: 1,
      lines: { show:false },
      bars: { horizontal:1, fill:1, lineWidth:0, show:true, barWidth:0.15 } },
    yaxis: {
      min: -10.0,
      max: 5.0,
      axisLabel: 'Z score',
      axisLabelUseCanvas: true },
    xaxis: {
      axisLabel: 'Predictions',
      axisLabelUseCanvas: true }
  };

  $.getJSON('<% $z_json_filename %>', function(series) {
    var dat =  series;
    var z_plot = $.plot($("#z"), dat, options);
    var canvas_z = z_plot.getCanvas();
    var canvasData = canvas_z.toDataURL("image/png");
    var ajax = new XMLHttpRequest();
    ajax.open("POST", "/upload_flot.html?file=<% $z_json_filename %>;data=" + canvasData, false);
    ajax.setRequestHeader('Content-Type', 'application/upload');
    var data = 'file="<% $z_json_filename %>"&data=' + canvasData;
    ajax.send(data);
  });
});
</script>


% } else {
<p>Generating a new distribution for <i><% HTMLMisc::Make_Species($species) %></i> now.<br>
These graphs take about a minute to generate, this page will refresh with the freshly generated
graph in one minute.</p>

<& /js/refresh.html, refresh_url=>"distribution.html?species=$species&mfe_methods=${mfe_methods}&seqlength=$seqlength&slipsites=$slipsites", seconds => 20 &>
<script>  
  function load() {  
  }  
  window.onload = mydoLoad;  
</script>  

<& generate_distribution.html, species => $species, slipsites => $slipsites, mfe_methods => $mfe_methods, seqlength => $seqlength &>
%  }

%  ## If the parameters are not defined, print the html form to get them
% } else {


<tr align="left" valign="top">
  <td bgcolor="#366e6d" height="5px" width="100%" colspan="8">
  </td>
  </tr>
</table>
 </td>
 <td width="70%">
 <form name="distribution" action="distribution.html" enctype="multipart/form-data" method="POST">

 <p>
  Using this form, choose the parameters which define the cloud of
  MFE/z scores of interest.
 </p>
 <p>
  Choose how many bases to examine:<br>
  <select name="seqlength">
    <option selected="selected" value="100">100</option>
    <option value="75">75</option>
    <option value="50">50</option>
  </select>
  <br>
  Choose a species to examine:<br>
  <& species_selector.html, select_name => "species", skip_species => 'all' &>

<label><input type="checkbox" name="cloud_filters" value="pseudoknots only" />pseudoknots only</label>
<br>
  Choose an MFE method (or set) to examine:<br>
  <select name="mfe_methods">
<option selected="selected" value="all">all</option>
<option value="pknots" value="pknots">pknots</option>
<option value="nupack" value="nupack">nupack</option>
<option value="hotknots" value="hotknots">hotknots</option>
<option value="nupack+hotknots" value="nupack+hotknots">nupack and hotknots</option>
</select><br>
<br>
  Choose a slippery site to examine(listed in order of frequency):<br>
  <select name="slipsites">
<option selected="selected" value="all">all</option>
<option value="AAAUUUA">AAAUUUA</option>
<option value="UUUAAAU">UUUAAAU</option>
<option value="AAAAAAA">AAAAAAA</option>

<option value="UUUAAAA">UUUAAAA</option>
<option value="UUUUUUA">UUUUUUA</option>
<option value="AAAUUUU">AAAUUUU</option>
<option value="UUUUUUU">UUUUUUU</option>
<option value="UUUAAAC">UUUAAAC</option>
<option value="AAAAAAU">AAAAAAU</option>
<option value="AAAUUUC">AAAUUUC</option>
<option value="AAAAAAC">AAAAAAC</option>
<option value="GGGUUUA">GGGUUUA</option>

<option value="UUUUUUC">UUUUUUC</option>
<option value="GGGAAAA">GGGAAAA</option>
<option value="CCCUUUA">CCCUUUA</option>
<option value="CCCAAAC">CCCAAAC</option>
<option value="CCCAAAA">CCCAAAA</option>
<option value="GGGAAAU">GGGAAAU</option>
<option value="GGGUUUU">GGGUUUU</option>
<option value="GGGAAAC">GGGAAAC</option>
<option value="CCCUUUC">CCCUUUC</option>

<option value="CCCUUUU">CCCUUUU</option>
<option value="GGGAAAG">GGGAAAG</option>
<option value="GGGUUUC">GGGUUUC</option>
</select><br>
  <input type="submit" name=".submit" /> </p>
<div><input type="hidden" name=".cgifields" value="cloud_filters"  /></div></form>   </tr>


% }  ## End if the parameters are not defined, print the html form

<%args>
 $species => undef
 $seqlength => undef
 $slipsites => undef
 $cloud_filters => undef
 $overlayquery => undef
 $mfe_methods => "hotknots"
</%args>
