<table width="100%" border="0" cellspacing="2" cellpadding="2">
 <tr align="left" valign="top">
   <td width="50%">
    <strong>
     <a href="/help/genome.html#genename" title="The gene name is provided by genbank or the SGD" rel="external" target="_blank">Gene Name:</a>
    </strong> <a href="/go_test.html?genename=<% $genename %>">
      <% $genename %>
%   if ($hgnc_name) {
&nbsp;&nbsp;HGNC Name: <% $hgnc_name %>
%   }
    </a>
   <br>
   <strong>
    <a href="/help/detail.html#accession" title="Check the help for accession" rel="external" target="_blank">Accession:</a>
   </strong>
% if ($species eq 'saccharomyces_cerevisiae') {
  <a title="Link out to the SGD entry." rel="external" target="_blank" href="http://http://www.yeastgenome.org/cgi-bin/locus.fpl?locus=<% $accession %>">
% } else {
  <a title="Link to the NCBI entry." rel="external" target="_blank" href="http://www.ncbi.nlm.nih.gov/nuccore/<% $accession %>">
% }
 <% $accession %></a><br>

   <strong>
    <a href="/help/detail.html#species" title="Check the help for species" rel="external" target="_blank">Species:</a>
   </strong><i><% $long_species %></i><br>
   <strong>
    <a href="/help/genome.html#comments" title="Check the help for the comment field" rel="external" target="_blank">Comments:</a>
   </strong> <% $comment %><br>
  </td>
  <td width="50%">
% my ($short_accession);
% if ($accession =~ /^SGDID/) {
%  $short_accession = $accession;
%  $short_accession =~ s/^SGDID\://g;
   <a href="http://db.yeastgenome.org/cgi-bin/locus.pl?locus=<% $short_accession %>" title="View <% $accession %> at yeastgenome.org" rel="external" target="_blank">SGD Link</a>
% } elsif ($accession =~ /^BC/) {
   <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?db=nuccore&cmd=&term=<% $accession %>&go=Go" title="View <% $accession %> at NCBI" rel="external" target="_blank">GenBank Link</a>
% }
% if (defined($omim_id)) {
   , <a href="http://www.ncbi.nlm.nih.gov/entrez/dispomim.cgi?id=<% $omim_id %>" title="View associated OMIM:<% $omim_id %> at NCBI" rel="external" target="_blank">OMIM Link</a>
% }
   <br>
   Run <a href="/search_blast.html?location=local&accession=<% $accession %>" title="Run BLAST to search the PRFdb for sequences similar to this gene.">Local Blast</a>
 or
   <a href="/search_blast.html?location=remote&accession=<% $accession %>" title="Run BLAST to search the NR database for sequences similar to this gene.">Remote Blast</a> using this gene.</br>
  <br>
% my $table = "landscape_$species";
% my $landscape = $db->MySelect(statement => "SELECT count(id) FROM $table WHERE accession = ?", vars => [$accession], type => 'single');
   Download: <a href="/download/sequence.html?accession=<% $accession %>" title="Download a fasta file containing this gene.">Nucleotide</a><a href="/download/orfnt.html?accession=<% $accession %>" title="Download the ORF sequence.">(ORF)</a> or <a href="/download/aasequence.html?accession=<% $accession %>" title="Download a fasta file containing this gene's amino acid sequence.">Amino acid</a> sequence.<br>
  </td>
 </tr>
</table>

<%args>
  $accession => 'SGDID:S000001'
  $genename => 'funkytown'
  $species => 'saccharomyces_cerevisiae'
  $long_species => 'Sacchamroyces cerevisiae'
  $comment => 'my comment'
  $omim_id => '1'
  $hgnc_name => undef
</%args>
