<center>Graphs for <i><% $species %></i></center>
<p>
Below is a bar graph showing how many putative PRF signals are made up
of each slippery site.  PRF signals which start with 'AAA' are red, 'UUU' are
green, 'GGG' are blue, and 'CCC' are black.
</p>
<center>
% if (!-f "$config->{base}/images/cloud/$species/cloud-all-bar.png") {
Generating new bar graphs now.
<& generate_bar_graphs, species => $species &>
% } 
 <img src="images/cloud/<% $species %>/cloud-all-bar.png">
</center>
<p>
Below is a bar graph showing how many of these have values less than the mean
MFE and zscore.
</p>
<center>
 <img src="images/cloud/<% $species %>/cloud-all-bar-sig.png">
</center>
<p>
And percentage.
</p>
<center>
 <img src="images/cloud/<% $species %>/cloud-all-bar-percentsig.png">
</center>
<p>
Below is a chart of extended reading frames, x axis percentage ORF, y axis percentage extended.
</p>
<center>
% if (!-f "$config->{base}/images/cloud/$species/extension-percent.png") {
Generating new extensions now.
% $pic->Make_Extension($species, "$config->{base}/images/cloud/$species/extension-percent.png", 'codons', $config->{base});
% $pic->Make_Extension($species, "$config->{base}/images/cloud/$species/extension-codons.png", 'percent', $config->{base});
% } 
 <img src="images/cloud/<% $species %>/extension-percent.png" usemap="#percent_extension">
</center>
Below is the same with the number of codons on the y axis.
</p>
<center>
  <img src="images/cloud/<% $species %>/extension-codons.png" usemap="#codons_extension">
</center>

<%init>
 my $pic = new PRFGraph({config=>$config,});
 my $test = $pic->Picture_Filename({type => 'cloud', species => $species, suffix => "-AAAAAAA-$seqlength",});
 if (!-f $test) {
#  $m->comp('make_distribution.html', species => $species, slipsites => 'AAAAAAA', seqlength => 100);
 }
</%init>

<%args>
 $species => "saccharomyces_cerevisiae"
 $slipsites => undef
 $seqlength => 100
</%args>