Type the exact accession of the sequence you wish to import.<br>

This must be in the NCBI NR database.<br>
<form method="post" action="http://prfdb.umd.edu/index.cgi/perform_import" enctype="application/x-www-form-urlencoded">
<input type="text" name="import_accession"  size="20" /><hr>
<input type="submit" name="perform_import" value="Perform Import"></form></tr>

% if (!($name) && !($email)) {
   Enter your info:<br><br>
   <FORM action="index.html" method="GET">
   Name: <INPUT type="text" size="10" name="name"><br>
   Email: <INPUT type="text" size="10" name="email"><br>
   <INPUT type="submit">
% } else {
   This is what you entered:<br> 
   Name: <% $name %><br>
   Email: <% $email %><br>
   hitting submit is the same as calling  /index.html,name=>"First Name",email=>"Email Address" 
% }

<%init>
   my $component_count = "first";
</%init>
<%args>
   $category=>undef
   $name=>undef
   $email=>undef
</%args>
