<table width="100%" border="0" cellspacing="2" cellpadding="2">
 <tr align="left" valign="top">
  <td>
   <table align="left" border="0" cellspacing="0" cellpadding="0">
    <tr><td><font color="Green">Green</font>:&nbsp;</td><td>0 Frame Start Codon</td></tr>
    <tr><td><font color="Red">Red</font>:&nbsp;</td><td>0 Frame Stop Codon</td></tr>
    <tr><td><font color="Blue">Blue</font>:&nbsp;</td><td>Slippery Site</td></tr>
    <tr><td><font color="Orange">Orange</font>:&nbsp;</td><td>First -1 PTC</td></tr>
    <tr><td><font color="#FF0080">Maroon</font>:&nbsp;</td><td>SNP</td></tr>
   </table>
  </td>
 </tr>
 <tr align="left" valign="top">
 </tr>
</table>
% my $in = $db->MySelect(statement => "SELECT orf_start, orf_stop, mrna_seq, direction, id FROM genome WHERE accession = ?", vars =>[$accession], type => 'row');
% my $slips = $db->MySelect(statement =>"SELECT DISTINCT(start), bp_mstop FROM mfe WHERE accession = ? ORDER BY start", vars => [$accession],);
% my (@slipsites, @minus);
% foreach my $s (@{$slips}) {
%   push (@slipsites, $s->[0]);
%   push (@minus, $s->[1]);
%  }
% my $str = HTMLMisc::Create_Pretty_mRNA(show_frame => $show_frame, accession => $accession, mrna_seq => $in->[2], orf_start => $in->[0], orf_stop => $in->[1], slipsites => \@slipsites, minus_bp => \@minus);

<table bgcolor="#E8E8E8" align="center">
  <tr>
    <td>
    <strong>
      <pre>
&gt;<% $accession %> | <% $genename %>
<% $str %>
      </pre>
    </strong>
    </font>
    </td>
    </tr>
    <tr><td>
      <form action="print_gene.html" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="accession" value="<% $accession %>">
      <select name="show_frame"  onchange="this.form.submit()">
        <option value="none" <% (($show_frame eq 'none') ? 'SELECTED' : '') %>>none</option>
        <option value="zero" <% (($show_frame eq 'zero') ? 'SELECTED' : '') %>>zero frame</option>
        <option value="one" <% (($show_frame eq 'one') ? 'SELECTED' : '') %>>minus two frame</option>
        <option value="two" <% (($show_frame eq 'two') ? 'SELECTED' : '') %>>minus one frame</option>
        <option value="all" <% (($show_frame eq 'all') ? 'SELECTED' : '') %>>all</option>
      </select>
      </input>
      There is a bug above.
      Show translated reading frame(s).
    </td></tr>
</form>
</table>
<p>The minimum free energy 'landscape' for <% $accession %>, black vertical lines delineate the positions of slippery heptamers, the horizontal green line shows the mean Vienna RNAfold value over the ORF, the horizontal red line shows the mean pknots value over the ORF, the horzontal blue line shows the mean nupack value.  green, red, and blue lines delineate the MFE over a sliding 105bp window.</p>
<& print_landscape.html, accession => "$accession", species => "$species" &>
</form>   </tr>

<%init>
 my $statement = "SELECT species,genename FROM genome WHERE accession = ?";
 my $fun = $db->MySelect(statement => $statement, vars => [$accession,]);
 my $species = $fun->[0][0];
 my $genename = $fun->[0][1];
</%init>

<%args>
 $accession => "SGDID:S0004310"
 $translate => undef
 $show_frame => "none"
</%args>
