    <table style="table-layout: fixed" width="100%" align="center" border="0" cellpadding="2" cellspacing="1" align="center">
    <colgroup>
     <col width="20%"><col width="80%">
   </colgroup>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_genename"><strong>Gene Name: </strong></a></div>
	</td>
	<td>
        <% $information->{genename} %>,
<& link_out.html, accession => $information->{accession} &>
	</td>
      </tr>
    </table>

     <table style="table-layout: fixed" width="100%" border="0" cellpadding="2" cellspacing="1" align="center">
     <colgroup>
       <col width="20%"><col width="35%">
     </colgroup>
      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_species"><strong>Species: </strong></a></div>
	</td>
	<td>
	<i>
	  <% HTMLMisc::Make_Species($information->{species}) %>
	</i>
	</td>
	<td rowspan="12" valign="top">
	  <div align="left"><a href="/help_detail.html#help_graph"><img alt="Plot of occurences vs. MFE" title="Plot of occurences vs. MFE" src="<% $information->{charturl} %>" border="2"></a></div>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_accession"><strong>Accession: </strong></a></div>
	</td>
	<td>
	  <a href="/search.html?short=1&accession=<% $information->{accession} %>"><% $information->{accession} %></a>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_position"><strong>Position: </strong></a></div>
	</td>
	<td>
	  <% $information->{slipstart} %>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_algorithm"><strong>Algorithm: </strong></a></div>
	</td>
	<td>
	  <% $information->{algorithm} %>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_barcode"><strong>Barcode: </strong></a></div>
	</td>
	<td>
	  <% $information->{barcode} %>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_seqlength"><strong>Sequence Length: </strong></a></div>
	</td>
	<td>
	  <% $information->{seqlength} %>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_slipsite"><strong>Slippery Site: </strong></a></div>
	</td>
	<td>
	  <% $information->{slipsite} %>
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_gc"><strong>GC Content: </strong></a></div>
	</td>
	<td>
	  <% $information->{gc_content} %>% and <% $information->{gc_stems} %>% in stems.
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_bp"><strong>Base Pairs: </strong></a></div>
	</td>
	<td>
	  <% $information->{pairs} %>
	</td>

      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_mfe"><strong>MFE: </strong></a></div>
	</td>
	<td>
	  <% $information->{mfe} %> kcal/mol
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_z"><strong>Z Score: </strong></a></div>
	</td>
	<td>
% if ($information->{boot_db}) { 
<% $information->{boot_db} %>
% } else {
<% $information->{zscore} %>
% }
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_rand_mfe"><strong>Randomized Mean MFE: </strong></a></div>
	</td>
	<td>
	  <% $information->{randmean} %> &plusmn; <% $information->{randse} %> kcal/mol
	</td>
      </tr>

      <tr valign="top" bgcolor="#E9EBF7">
	<td>
	  <div align="right"><a href="/help_detail.html#help_ppcc"><strong>PPCC: </strong></a></div>
	</td>
	<td>
	  <% $information->{ppcc} %>
	</td>
        <td></td>
      </tr>
</table>

    <table align="center" style="table-layout: fixed" width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="#E9EBF7">
    <colgroup>
     <col width="100%">
    </colgroup>
      <tr>
	<td text-align="right"><span style="whitespace: nowrap">
<!---	  <div class="fixedfont"><b><font face="Courier New, Courier, mono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% $information->{minus_stop} %></font></b>  --->
	  <div class="fixedfont"><b><font face="Courier New, Courier, mono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% $information->{color_minus} %></font></b>
	  <font face="Courier New, Courier, mono" size="-3">&nbsp;&nbsp;<b>-1&nbsp;Frame&nbsp;stop&nbsp;codons</b>
          </font></div>
        </span>
        </td>
      </tr>

      <tr>
	<td text-align="right"><span style="whitespace: nowrap">
	  <div class="fixedfont"><font face="Courier New, Courier, mono"><% $information->{numbers} %></font>
	  <font face="Courier New, Courier, mono" size="-3"><a href="/search_blast.html?location=local&accession=<% $information->{accession} %>&start=<% $information->{slipstart} %>">&nbsp;Blast&nbsp;subsequence</a>
          </font></div>
         </span>
        </td>
      </tr>

      <tr>
	<td text-align="right"><span style="whitespace: nowrap">
	  <div class="fixedfont"><b><font face="Courier New, Courier, mono"><u><% $information->{slipsite} %></u><% $information->{pk_input} %></font></b>
	  <font face="Courier New, Courier, mono" size="-3">
	    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/download_subseq.html?mfeid=<% $information->{mfe_id} %>">Download&nbsp;subsequence</a>
	  </font></div>
         </span>
        </td>
      </tr>

      <tr>
	<td text-align="right"><span style="whitespace: nowrap">
	  <div class="fixedfont"><b><font face="Courier New, Courier, mono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% $information->{brackets} %></font></b>
	  <font face="Courier New, Courier, mono" size="-3">
	    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/download_parens.html?mfeid=<% $information->{mfe_id} %>">Download&nbsp;brackets</a>
	  </font></div>
         </span>
	</td>
      </tr>

      <tr>
        <td text-align="right"><span style="whitespace: nowrap">
    	  <div class="fixedfont"><b><font face="Courier New, Courier, mono">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% $information->{parsed} %></font></b>
	  <font face="Courier New, Courier, mono" size="-3">
	    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/download_parsed.html?mfeid=<% $information->{mfe_id} %>">Download&nbsp;parsed</a>
	  </font></div>
         </span>
	</td>
      </tr>

      <tr>
        <td text-align="right"><span style="whitespace: nowrap">
	  <embed id="feynman" src="<% $information->{feynman_url} %>" align="bottom" width="<% $information->{feynman_width} %>" height="<% $information->{feynman_height} %>" border="0" pluginspage="http://www.adobe.com/svg/viewer/install/"></embed>
	  <font face="Courier New, Courier, mono" size="-3">&nbsp;&nbsp;&nbsp;<a href="/download_bpseq.html?mfeid=<% $information->{mfe_id} %>">Download&nbsp;bpseq</a><br>&nbsp;&nbsp;&nbsp;Download
<a href="/download_png.html?accession=<% $information->{accession} %>&format=png&mfeid=<% $information->{mfe_id} %>&species=<% $information->{species} %>">&nbsp;png,</a>
<a href="/download_png.html?accession=<% $information->{accession} %>&format=pdf&mfeid=<% $information->{mfe_id} %>&species=<% $information->{species} %>">pdf,</a>
<a href="/download_png.html?accession=<% $information->{accession} %>&format=ps&mfeid=<% $information->{mfe_id} %>&species=<% $information->{species} %>">ps</a>, View
<a href="/cfeynman.html?accession=<% $information->{accession} %>&mfeid=<% $information->{mfe_id} %>&species=<% $information->{species} %>">cfeynman graph</a>, Try
<a href="/feynman_overlap.html?start=<% $information->{slipstart} %>&seqlength=<% $information->{seqlength} %>&accession=<% $information->{accession} %>">An overlap</a>

<br>
	  </font>
        </span>
        </td>
      </tr>
    </table>

</p>
<hr>

<%args>
  $information => undef;
</%args>
