/* Pathetically taken from my friend Joe's homepage, thanks, Joe :) */
body {
  background : #ffffff;
  color : #000000;
  font-family : Helvetica,Lucida,Arial,sans-serif;
  margin : 0pt; 
}

a {
  color : #366e6d;
  text-decoration : none;
  background : transparent;
  font-weight : bold;
}

a:active {
  color : #0000cc;
  background : transparent;
}

/* right side row spec for page "title" */
tr.rightContent {
  background : #d0d0d0;
  color : #000000;
  font-size : 133%;
  font-weight : bold;
}

/* The left side of the big table, which contains the main menu */
td.leftMenu {
  background : #353232;
  color : #353232;
  font-weight : bold;
  font-size : 100%;
}

/* right side of the big table */
td.rightSide {
  background : #353232;
  color : #eeeeee;
  font-weight : bold;
  font-size : 80%;
}

/* for the text in the about.html right side */
td.rightAbout {
  background : transparent;
  font-size : 85%;
}

table.Outline {
  background : #000000;
}

/* text changes color when mouseover */
/*a.nav:hover {
  color : #939393;
  font-weight : bold;
}*/

font.live {
  font-weight : bold;
  color : #939393;
}

font.subTitle {
  font-weight : bold;
  color : #204070;
}

h3.subTitle { 
  font-weight : bold;
  color : #939393;
}