h1 {  font-size: 24pt; font-weight: bold; text-decoration: none}
h2 {  font-size: 18pt; font-weight: bold; text-decoration: none}
h3 {  font-size: 16pt; font-weight: bold; text-decoration: none}
p {  font-size: 10pt; text-decoration: none}
body {  font-family: Verdana, Arial, sans-serif}
li {  font-size: 12px}
.lavender {  background-color: #FFCCFF}
dt { font-size: 12px ; font-weight: bold}
dd { font-size: 12px }
